<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
           	<div class="profile-pic-div animated">
            	<a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        	</div>
            <div class="section-heading">About Me</div>
            <p class="paragraph-text justify-text">
	 			학과는 전공학과를 졸업했으나 학업에 그리 충실하지 않았던 저는 프로그래밍 분야에 대한 흥미를 못느꼈었습니다. <br>그러나 취업을 준비하기위해 학원에서 만들어 보았던 간단한 전화번호부 프로그램으로부터 <b>무언가를 만들어낸다</b>라는 것에 대한 재미를 느끼게 되었고 헛되이 보낸 학창 시절을 후회하는 반성의 계기도 됐습니다.
            </p>
            <p class="paragraph-text justify-text">
               	저는 제 목표를 '잘하는' 개발자로 삼아서 더 공부하고 있습니다. <br>경력을 쌓은 개발자는 경력만 쌓이면 자연스럽게 되지만 '잘하는'개발자는 경력뿐만 아니라 매일 공부하여 개발자로써 더 높은 곳을 바라보고 있기 때문입니다 . <br>저는 계속 공부하여 '잘하는'개발자로써 남고 싶습니다.
            </p>
            
        </div>
    </section>
</div>
